<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nicoqueijo.android.currencyconverter">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
            android:name=".kotlin.view.MainActivityCurrency"
            android:configChanges="screenSize|orientation|screenLayout|navigation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDark"
            tools:ignore="LockedOrientationActivity" />

    </application>

</manifest>